.recipeTile {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center ;
  cursor: pointer;
 
     
  }
  
  .recipeTile__img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 3px;
    display:block;
    
  }
  
  .recipeTile__name {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
  }